.env
.venv/
__pycache__/
db/
# data/
*.pyc
*.mp3
debug_output.txt
.DS_Store
node_modules/
.wwebjs_auth/
.wwebjs_cache/
tests/error_*.log
tests/*.txt
tests/map_lpu.jpg
*.pyd
*.dll
*.so
input.mp3
response.mp3
chroma.sqlite3
