fastapi
uvicorn
python-multipart
langchain-ollama
langchain-groq
langchain-community
faiss-cpu
flashrank
python-dotenv
mcp
huggingface-hub
sentence-transformers
pypdf
elevenlabs
google-generativeai
numpy
requests
jinja2
python-magic
unstructured
pydantic
pydantic-settings
pinecone-client
langchain-pinecone
langchain-google-genai
        